/* Google Fonts - Rosario & Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Rosario&display=swap");

/* Reset Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusables */
.hide {
  display: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.box-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container .box-img {
  width: 200px;
  height: auto;
  margin-bottom: 16px;
}

.box-container .box-heading {
  font-weight: 700;
  font-size: 42px;
  color: #000000;
  margin-bottom: 20px;
}

.box-container .box-subtitle {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #373434;
  margin-bottom: 20px;
}

.qApp-btn {
  background: #000000;
  border-radius: 5px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  padding: 12px 42px;
  text-transform: uppercase;
  cursor: pointer;
}

.box {
  background: #ffffff;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 30px;
  text-align: center;
}

/* Home Page */
#home-page {
  background: #e0cabc;
}

#home-page .showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 60px;
}

#home-page .showcase img {
  max-width: 500px;
  height: auto;
}

#home-page .banner {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

#home-page .banner .banner-content h1 {
  font-family: "Rosario", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
  color: #000000;
  margin-bottom: 36px;
}

#home-page .banner .banner-content .home-box h3 {
  font-weight: 600;
  font-size: 35px;
  color: #373434;
  margin-bottom: 20px;
}

#home-page .banner .banner-content .home-box p {
  font-weight: 300;
  font-size: 25px;
  color: #373434;
  margin-bottom: 20px;
}

#home-page .banner .banner-content .home-box .home-btn {
  display: block;
  width: 75%;
  margin: 0 auto;
}

/* MCQ Page  */
#mcq-page {
  background: #b0b8ff;
}

#mcq-page .content {
  padding: 70px 0 30px 0;
  width: 75%;
  margin: 0 auto;
}

#mcq-page .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mcq-page .content .header h1 {
  font-weight: 700;
  font-size: 30px;
}

#mcq-page .content .mcq-container .mcq {
  margin-top: 20px;
  text-align: left;
}

#mcq-page .content .mcq-container .mcq h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}

#mcq-page .content .mcq-container .mcq label {
  margin: 10px 0;
  display: block;
  font-weight: 400;
  font-size: 20px;
}

#mcq-page .content .mcq-container .mcq input {
  margin-right: 10px;
}

/* Result Page */
#result-page {
  background: linear-gradient(269.85deg, #ffdf64 0.12%, #f4d456 99.86%);
}

/* Timeout Page */
#timeout-page {
  background: linear-gradient(269.85deg, #ff646d 0.12%, #f45656 99.86%);
}

#timeout-page .timeout-heading {
  text-transform: uppercase;
}

/* Responsive Styles */

@media (max-width: 991.98px) {
  #home-page .showcase img {
    max-width: 450px;
    height: auto;
  }
}

@media (max-width: 767.98px) {
  #home-page .showcase {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px;
  }

  #home-page .showcase img {
    max-width: 400px;
  }

  #home-page .banner .banner-content h1 {
    font-size: 32px;
  }

  #home-page .banner .banner-content .home-box h3 {
    font-size: 24px;
  }

  #home-page .banner .banner-content .home-box p {
    font-size: 18px;
  }

  #home-page .banner .banner-content .home-box .home-btn {
    width: 80%;
  }

  #mcq-page .content {
    padding: 30px 0 30px 0;
    width: 80%;
    margin: 0 auto;
  }

  #mcq-page .content .header {
    flex-direction: column;
  }

  #mcq-page .content .header h1 {
    font-size: 24px;
  }

  #mcq-page .content .mcq-container .mcq h3 {
    font-size: 20px;
  }

  #mcq-page .content .mcq-container .mcq label {
    font-size: 18px;
  }

  #mcq-page .content .header .finishBtn {
    margin-top: 16px;
    display: block;
    width: 60%;
  }

  .box-container .box-img {
    width: 150px;
    height: auto;
  }
}

.box-container .box-heading {
  font-size: 32px;
}

.box-container .box-subtitle {
  font-size: 24px;
}

@media (max-width: 575.98px) {
  .qApp-btn {
    font-size: 18px;
    text-align: center;
    padding: 10px 24px;
  }

  #home-page .showcase {
    gap: 30px;
    padding: 30px;
  }

  #home-page .showcase img {
    max-width: 350px;
    height: auto;
  }

  #home-page .banner .banner-content h1 {
    font-size: 28px;
  }

  #home-page .banner .banner-content .home-box h3 {
    font-size: 20px;
  }

  #home-page .banner .banner-content .home-box p {
    font-size: 16px;
  }

  #home-page .banner .banner-content .home-box .home-btn {
    width: 90%;
  }

  #mcq-page .content {
    padding: 20px 0 30px 0;
    width: 90%;
    margin: 0 auto;
  }

  #mcq-page .content .header h1 {
    font-size: 20px;
  }

  #mcq-page .content .mcq-container .mcq h3 {
    font-size: 18px;
  }

  #mcq-page .content .mcq-container .mcq label {
    font-size: 16px;
  }

  #mcq-page .content .header .finishBtn {
    width: 70%;
  }

  .box-container .box-img {
    width: 120px;
    height: auto;
  }
}

.box-container .box-heading {
  font-size: 24px;
}

.box-container .box-subtitle {
  font-size: 18px;
}
