/* Google Fonts - Rosario & Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Rosario&display=swap");

/* Reset Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Raleway", sans-serif;
}

/* Reusables */
.hide {
  display: none;
}

.qApp-btn {
  background: #000000;
  border-radius: 5px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  padding: 12px 42px;
  text-transform: uppercase;
  cursor: pointer;
}

.box {
  background: #ffffff;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 30px;
  text-align: center;
}

/* Home Section */
#home-page {
  background: #e0cabc;
}

#home-page .container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#home-page .banner {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

#home-page .banner .banner-content h1 {
  font-family: "Rosario", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
  color: #000000;
  margin-bottom: 36px;
}

#home-page .banner .banner-content .home-box h3 {
  font-weight: 600;
  font-size: 35px;
  color: #373434;
  margin-bottom: 20px;
}

#home-page .banner .banner-content .home-box p {
  font-weight: 300;
  font-size: 25px;
  color: #373434;
  margin-bottom: 20px;
}

#home-page .banner .banner-content .home-box .home-btn {
  display: block;
  width: 75%;
  margin: 0 auto;
}

/* MCQ Page Section */

#mcq-page {
  background: #b0b8ff;
}

#mcq-page .container {
  padding: 70px 0 30px 0;
  width: 70%;
  margin: 0 auto;
}

#mcq-page .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mcq-page.container .header h1 {
  font-weight: 700;
  font-size: 30px;
}

#mcq-page .container #mcq-container .mcq {
  margin-top: 20px;
  text-align: left;
}

#mcq-page .container #mcq-container .mcq h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}

#mcq-page .container #mcq-container .mcq label {
  margin: 10px 0;
  display: block;
  font-weight: 400;
  font-size: 20px;
}

#mcq-page .container #mcq-container .mcq input {
  margin-right: 10px;
}

/* Result Page Section */
#result-page {
  background: linear-gradient(269.85deg, #ffdf64 0.12%, #f4d456 99.86%);
}

#result-page .result-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-page .result-box {
  width: 430px;
  margin: 0 auto;
}

#result-page .result-box h3 {
  font-weight: 700;
  font-size: 45px;
  color: #000000;
  margin-bottom: 16px;
}

#result-page .result-box p {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #373434;
  margin-bottom: 16px;
}

/* Timeout Page Section */
#timeout-page {
  background: linear-gradient(269.85deg, #ff646d 0.12%, #f45656 99.86%);
}

#timeout-page .timeout-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeout-page .timeout-box {
  width: 430px;
  margin: 0 auto;
}

#timeout-page .timeout-box h3 {
  font-weight: 700;
  font-size: 45px;
  color: #000000;
  margin: 20px 0px;
  text-transform: uppercase;
}

/* #success {
  height: 100vh;
  background: linear-gradient(269.85deg, #ffdf64 0.12%, #f4d456 99.86%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#success .success-box {
  width: 400px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 16px 24px;
}

#success .success-box h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

#success .success-box p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #373434;
  margin-bottom: 16px;
}

#success .success-box button {
  background: #000000;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
}

.hide {
  display: none;
} */
